<nav></nav>

<div class="container">
	<div class="bank">
		<h1>{{ rate.businessName }}</h1>
		<p>
			TEA en {{ rate.currency | lowercase }} -
			{{ rate.rateValue | percent: "2.2-5" }}
		</p>
		<p>Fecha de descuento:</p>
		<input type="date" [(ngModel)]="discountDate" (change)="showData()" />
		<button>Agregar letra</button>
	</div>
	<div class="overview">
		<h1>Resumen de la cartera</h1>
		<p>Valor recibido: {{ discountPool.receivedValue }}</p>
		<p>Valor entregado: {{ discountPool.deliveredValue }}</p>
		<p>TCEA: {{ discountPool.tcea | percent: "2.2" }}</p>
	</div>
	<div class="bills">
		<p>bank</p>
	</div>
</div>
