:host {
	padding: 16px 0;

	display: grid;
	grid-template-columns: 3fr 9fr;

	.options {
		align-self: stretch;
	}

	.options {
		grid-column: 1 / span 1;

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		button {
			margin: 8px 0;
			padding: 16px 40px;
			background-color: #54d691;
			color: white;
			font-size: 24px;
			border: none;
			border-radius: 3px;
			cursor: pointer;
			transition: all 0.25s ease;

			&:hover {
				transform: scale(1.05);
			}
		}
	}

	.histo {
		max-height: 900px;
		overflow-y: auto;

		display: flex;
		flex-flow: column nowrap;
		padding: 16px;

		h3 {
			font-size: 24px;
			margin-bottom: 8px;
			margin-left: 16px;
		}

		app-record-detail {
			margin-left: 32px;
			border: 2px solid #dfdfdf;
			border-radius: 7px;
		}
	}
}
