<div class="bill-detail">
	<div class="header">
		<h1>Letra de cambio</h1>
		<p>({{ bill | billType }})</p>
	</div>

	<div class="body">
		<div class="col">
			<div class="group">
				<h4>Librador</h4>
				<p>RUC: {{ bill.drawerRuc }}</p>
			</div>

			<div class="group">
				<h4>Librado</h4>
				<p>RUC: {{ bill.draweeRuc }}</p>
			</div>

			<div class="group">
				<h4>Fecha de giro</h4>
				<p>{{ bill.startDate.toLocaleDateString() }}</p>
			</div>

			<div class="group">
				<h4>Fecha de vencimiento</h4>
				<p>{{ bill.endDate.toLocaleDateString() }}</p>
			</div>
		</div>

		<div class="col">
			<div class="group">
				<h4>Lugar de giro</h4>
				<p>{{ bill.signPlace }}</p>
			</div>

			<div class="group">
				<h4>Lugar de pago</h4>
				<p>{{ bill.paymentPlace }}</p>
			</div>

			<div class="group">
				<h4>Moneda</h4>
				<p>{{ bill.currencyCode | currencyCode }}</p>
			</div>

			<div class="group">
				<h4>Valor nominal</h4>
				<p>{{ bill.amount }}</p>
			</div>
		</div>
	</div>

	<div class="footer">
		<button (click)="goBack()">Regresar</button>

		<button *ngIf="bill.type === 1" (click)="deleteBill()">Pagar</button>
		<button *ngIf="bill.type === 2" (click)="deleteBill()">Cobrar</button>
	</div>
</div>

<app-bill-progress-bar [bill]="bill"></app-bill-progress-bar>
