<div
	class="bill-detail"
	[ngClass]="{ expired: isExpired, notCreated: isNotCreated }"
>
	<div class="header">
		<h1>Letra de cambio</h1>
		<p>({{ bill | billType }})</p>

		<div *ngIf="isExpired" class="expiredMessage">
			<p>La letra ha expirado</p>
		</div>

		<div *ngIf="isNotCreated" class="expiredMessage">
			<p>La letra no se ha creado</p>
		</div>
	</div>

	<div class="body">
		<div class="col">
			<div class="group">
				<h4>Librador</h4>
				<p>RUC: {{ bill.drawerRuc }}</p>
			</div>

			<div class="group">
				<h4>Librado</h4>
				<p>RUC: {{ bill.draweeRuc }}</p>
			</div>

			<div class="group">
				<h4>Fecha de giro</h4>
				<p>{{ bill.startDate | date: "dd/MM/yyyy" }}</p>
			</div>

			<div class="group">
				<h4>Fecha de vencimiento</h4>
				<p>{{ bill.endDate | date: "dd/MM/yyyy" }}</p>
			</div>
		</div>

		<div class="col">
			<div class="group">
				<h4>Lugar de giro</h4>
				<p>{{ bill.signPlace }}</p>
			</div>

			<div class="group">
				<h4>Lugar de pago</h4>
				<p>{{ bill.paymentPlace }}</p>
			</div>

			<div class="group">
				<h4>Moneda</h4>
				<p>{{ bill.currencyCode | currencyCode }}</p>
			</div>

			<div class="group">
				<h4>Valor nominal</h4>
				<p>{{ bill.amount }}</p>
			</div>
		</div>
	</div>

	<div class="footer">
		<button (click)="goBack()">Regresar</button>

		<button
			*ngIf="bill.type === 1 && !isExpired && !isNotCreated"
			(click)="deleteBill()"
		>
			Pagar
		</button>
		<button
			*ngIf="bill.type === 2 && !isExpired && !isNotCreated"
			(click)="deleteBill()"
		>
			Cobrar
		</button>
		<button *ngIf="isExpired || isNotCreated" (click)="deleteBill()">
			Eliminar letra
		</button>
	</div>
</div>

<app-bill-progress-bar
	[ngClass]="{ expired: isExpired, notCreated: isNotCreated }"
	[bill]="bill"
></app-bill-progress-bar>
