<div class="container">
	<div class="row">
		<div class="col">
			<p>Fecha de giro</p>
		</div>
		<div class="col">
			<p>{{ bill.startDate | date: "dd/MM/yyyy" }}</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>Fecha de vencimiento</p>
		</div>
		<div class="col">
			<p>{{ bill.endDate | date: "dd/MM/yyyy" }}</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>Valor nominal</p>
		</div>
		<div class="col">
			<p>{{ bill.amount | currency: currency }}</p>
		</div>
	</div>

	<div class="button">
		<button (click)="selectBill()">Seleccionar</button>
	</div>
</div>
