:host {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;

	.select-rate {
		flex: 1;

		.row {
			width: 90%;
			margin: auto;
			display: flex;

			.cola,
			.colb {
				display: flex;
				justify-content: center;
			}

			.cola {
				width: 60%;
			}

			.colb {
				width: 40%;
			}
		}
	}
}
