<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	<h1>Registrarse</h1>

	<div class="row">
		<label for="ruc">RUC</label>
		<input type="text" placeholder="Ingrese su RUC" formControlName="ruc" />

		<div class="form-errors" *ngIf="fruc.errors && fruc.dirty">
			<div *ngIf="fruc.hasError('required')">
				El RUC es requerido
			</div>
			<div
				*ngIf="fruc.hasError('minlength') || fruc.hasError('maxlength')"
			>
				El tamaño del Ruc es de 11 dígitos
			</div>
			<div *ngIf="fruc.hasError('pattern')">
				El RUC empieza con 20 y está compuesto de dígitos
			</div>
		</div>
	</div>

	<div class="row">
		<label for="businessName">Razón social</label>
		<input
			type="text"
			placeholder="Ingrese la razón social"
			formControlName="businessName"
		/>

		<div
			class="form-errors"
			*ngIf="fbusinessName.errors && fbusinessName.dirty"
		>
			<div *ngIf="fbusinessName.hasError('required')">
				La razón social es requerida
			</div>
		</div>
	</div>

	<div class="row">
		<label for="address">Dirección</label>
		<input
			type="text"
			placeholder="Ingrese su dirección"
			formControlName="address"
		/>

		<div class="form-errors" *ngIf="faddress.errors && faddress.dirty">
			<div *ngIf="faddress.hasError('required')">
				La direción es requerida
			</div>
			<div *ngIf="faddress.hasError('maxlength')">
				La dirección es demasiado larga
			</div>
		</div>
	</div>

	<div class="row">
		<label for="password">Contraseña</label>
		<input
			type="password"
			placeholder="Ingrese su contraseña"
			formControlName="password"
		/>

		<div class="form-errors" *ngIf="fPassword.errors && fPassword.dirty">
			<div *ngIf="fPassword.hasError('required')">
				La contraseña es requerida
			</div>
			<div *ngIf="fPassword.hasError('minlength')">
				El tamaño mínimo es 8 caracteres
			</div>
		</div>
	</div>

	<div class="row">
		<label for="confirmPassword">Confirmar contraseña</label>
		<input
			type="password"
			placeholder="Ingrese nuevamente su contraseña"
			formControlName="confirmPassword"
		/>

		<div
			class="form-errors"
			*ngIf="
				(fConfirmPassword.errors ||
					fPassword.value !== fConfirmPassword.value) &&
				fConfirmPassword.dirty
			"
		>
			<div *ngIf="fConfirmPassword.hasError('required')">
				Este campo es requerido
			</div>
			<div
				*ngIf="
					fPassword.value !== fConfirmPassword.value &&
					!fPassword.hasError('required')
				"
			>
				Debe ser la misma contraseña
			</div>
		</div>
	</div>

	<div class="center">
		<button type="submit">Registrarse</button>
	</div>

	<div class="center">
		<small
			>¿Ya tienes una cuenta?
			<a [routerLink]="['/account/login']">Inicia sesión</a></small
		>
	</div>

	<div class="center">
		<p>{{ errorMessage }}</p>
	</div>
</form>
