:host {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	form {
		width: 500px;
		padding: 16px;

		h1 {
			width: 100%;
			text-align: center;
		}

		.row {
			margin: 20px 0;

			display: flex;
			flex-flow: column wrap;

			label,
			input,
			button {
				font-size: 20px;
			}

			label {
				margin: 4px 0;
			}

			input {
				border-left: none;
				border-right: none;
				border-top: none;
				padding: 8px;
			}

			small {
				font-size: 1rem;
			}

			.form-errors {
				font-size: 14px;
			}
		}

		.center {
			display: flex;
			justify-content: center;
			align-items: center;

			button {
				font-size: 20px;
				background-color: #54d691;
				color: #eeeeee;
				border: none;
				border-radius: 5px;
				padding: 12px 16px;
			}

			small {
				margin-top: 16px;
			}

			p {
				margin-top: 16px;
				color: tomato;
				font-size: 24px;
			}
		}
	}
}
