:host {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	h1 {
		width: 100%;
	}

	.helpText {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		font-size: 1rem;
	}

	form {
		display: flex;
		flex-wrap: wrap;
		width: 800px;
		// border: 1px solid red;

		.row {
			margin: 0.5rem 0.5rem;
			// border: 1px solid green;
			display: flex;
			flex-flow: column wrap;
			width: 40%;

			label,
			input,
			button {
				font-size: 1rem;
			}

			button,
			small,
			h1 {
				align-self: center;
			}

			label {
				margin: 0.5rem 0;
			}
			input {
				border-left: none;
				border-right: none;
				border-top: none;
				padding: 0.5rem;
			}
			button {
				background-color: #54d691;
				color: #eeeeee;
				border: none;
				border-radius: 7px;
			}
			small {
				font-size: 1rem;
			}
		}

		button {
			margin: 1rem 20%;
			font-size: 2rem;
			align-self: center;
			width: 40%;
			//height: 5vh;
			background-color: #54d691;
			color: #eeeeee;
			border: none;
			border-radius: 7px;
		}
	}
}
