<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	<h1>Registrarse</h1>

	<div class="form-group row">
		<label for="ruc">Ruc</label>
		<input
			type="number"
			class="form-control"
			placeholder="Ingrese su número RUC"
			formControlName="ruc"
		/>
		<span *ngIf="registerForm.get('ruc').hasError('required')">
			Es requerido
		</span>
		<span
			*ngIf="
				registerForm.get('ruc').hasError('min') ||
				registerForm.get('ruc').hasError('max')
			"
		>
			El tamaño del ruc es de 11 dígitos y empieza con 20
		</span>
	</div>

	<div class="form-group row">
		<label for="businessName">Razón social</label>
		<input
			type="text"
			class="form-control"
			placeholder="Ingrese su razón social"
			formControlName="businessName"
		/>
	</div>

	<div class="form-group row">
		<label for="address">Dirección</label>
		<input
			type="text"
			class="form-control"
			placeholder="Ingrese su dirección"
			formControlName="address"
		/>
	</div>

	<div class="form-group row">
		<label for="password">Contraseña</label>
		<input
			type="password"
			class="form-control"
			placeholder="Ingrese su contraseña"
			formControlName="password"
		/>
	</div>

	<div class="form-group row">
		<label for="confirmPassword">Confirmar contraseña</label>
		<input
			type="password"
			class="form-control"
			placeholder="Ingrese su contraseña"
			formControlName="confirmPassword"
		/>
	</div>

	<button type="submit" class="btn btn-primary ">Registrarse</button>

	<small id="emailHelp" class="form-text text-muted helpText"
		>¿Ya tienes una cuenta?
		<a [routerLink]="['/account/login']">Inicia sesión</a></small
	>
	<small class="text text-danger">{{ errorMessage }}</small>
</form>
