<div class="center">
	<h1>{{ rate.businessName }}</h1>
</div>

<div class="row">
	<div class="col">
		<p>T{{ rate.rateType | rateType }}{{ rate.rateTerm | rateTerm }} en {{ rate.currencyCode | currencyCode }}</p>
		<p *ngIf="rate.rateType === 1">
			cap
			{{ rate.capitalizationTerm | capitalizationTerm }}
		</p>
	</div>
	<div class="col">
		<p>{{ rate.rateValue | percent: "2.2-5" }}</p>
	</div>
</div>

<div class="row">
	<div class="col">
		<p>Fecha de descuento</p>
	</div>
	<div class="col">
		<input type="date" [(ngModel)]="discountDate" (change)="updateDiscountDate()" />
		<div class="form-errors" *ngIf="
			!validateDate() || afterMaximumDate() || beforeMinimumDate()
		">
			<div *ngIf="!validateDate()">
				Fecha Invalida
			</div>
			<div *ngIf="afterMaximumDate()">
				Fecha fuera del rango superior de descuento
			</div>
			<div *ngIf="beforeMinimumDate()">
				Fecha fuera del rango inferior de descuento
			</div>
		</div>
	</div>
</div>

<div class="center">
	<button (click)="showModal()">Agregar letra</button>
</div>
