.container {
	display: flex;
	flex-flow: column nowrap;

	.center,
	.row {
		margin-bottom: 32px;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}

	.center {
		justify-content: center;

		h1 {
			font-size: 24px;
		}

		button {
			padding: 5px 12px;
			font-size: 16px;
			background-color: #5ac1d6;
			color: #ffffff;
			border: none;
			border-radius: 3px;
			cursor: pointer;
		}
	}

	.row {
		display: flex;
		justify-content: space-between;

		input[type="date"] {
			width: 160px;
			padding: 8px;
			font-size: 16px;
			border: none;
			border-bottom: 1px solid lightgray;
		}

		p {
			font-size: 18px;
		}
	}
}
