<div class="options">
	<button (click)="goBack()">Regresar</button>
	<!-- <button>Opcion 2</button> -->
	<!-- <button>Opcion 3</button> -->
</div>

<div class="add-bill">
	<div class="bill-type">
		<button
			(click)="changeBillToPay()"
			[ngClass]="{ active: billType === 1 }"
		>
			Por pagar
		</button>
		<button
			(click)="changeBillToCharge()"
			[ngClass]="{ active: billType === 2 }"
		>
			Por cobrar
		</button>
	</div>

	<form class="bill" [formGroup]="billForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="title">
				<h1>Letra de cambio</h1>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="group">
					<label>RUC del Girador</label>

					<input
						type="text"
						placeholder=""
						formControlName="drawerRuc"
						[readOnly]="billType === 2"
						/>

					<div
						class="form-errors"
						*ngIf="drawerRuc.errors && drawerRuc.dirty"
					>
						<div *ngIf="drawerRuc.hasError('required')">
							Campo requerido
						</div>

						<div
							*ngIf="
								drawerRuc.hasError('minlength') ||
								drawerRuc.hasError('maxlength')
							"
						>
							Debe ser de 11 digitos
						</div>
						<div *ngIf="drawerRuc.hasError('pattern')">
							Deben ser sólo dígitos
						</div>
					</div>
				</div>

				<div class="group">
					<label>RUC del Girado</label>
					<input
						type="text"
						placeholder=""
						formControlName="draweeRuc"
						[readOnly]="billType === 1"
					/>

					<div
						class="form-errors"
						*ngIf="draweeRuc.errors && draweeRuc.dirty"
					>
						<div *ngIf="draweeRuc.hasError('required')">
							Campo requerido
						</div>

						<div
							*ngIf="
								draweeRuc.hasError('minlength') ||
								draweeRuc.hasError('maxlength')
							"
						>
							Debe ser de 11 digitos
						</div>
						<div *ngIf="draweeRuc.hasError('pattern')">
							Deben ser sólo dígitos
						</div>
					</div>
				</div>

				<div class="group">
					<label>Fecha de giro</label>
					<input
						type="date"
						formControlName="startDate"
						(change)="checkDateBill()"
					/>

					<div
						class="form-errors"
						*ngIf="(startDate.errors || startDate.hasError('validateDate')) && startDate.dirty"
					>
						<div *ngIf="startDate.hasError('beforeDate')">
							La letra aún no ha sido emitida
						</div>

					</div>
				</div>

				<div class="group">
					<label>Fecha de vencimiento</label>
					<input
						type="date"
						formControlName="endDate"
						(change)="checkDateBill()"
					/>

					<div
						class="form-errors"
						*ngIf="endDate.errors && endDate.dirty"
					>
						<div *ngIf="endDate.hasError('afterDate')">
							La letra ya está vencida
						</div>
					</div>

					<div class="form-errors" *ngIf="dateError">
						<div>
							La fecha de giro debe ser anterior a la fecha de
							vencimiento
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="group">
					<label>Lugar de giro</label>
					<input
						type="text"
						placeholder="Ingrese el lugar de giro"
						formControlName="signPlace"
					/>
					<div
						class="form-errors"
						*ngIf="signPlace.errors && signPlace.dirty"
					>
						<div *ngIf="signPlace.hasError('required')">
							Campo requerido
						</div>
					</div>
				</div>

				<div class="group">
					<label>Lugar de pago</label>
					<input
						type="text"
						placeholder="Ingrese el lugar de pago"
						formControlName="paymentPlace"
					/>
					<div
						class="form-errors"
						*ngIf="paymentPlace.errors && paymentPlace.dirty"
					>
						<div *ngIf="paymentPlace.hasError('required')">
							Campo requerido
						</div>
					</div>
				</div>

				<div class="group">
					<label>Moneda</label>
					<select formControlName="currencyCode">
						<option value="1">Soles</option>
						<option value="2">Dolares</option>
					</select>
				</div>

				<div class="group">
					<label>Valor nominal</label>
					<input
						type="text"
						placeholder="Ingrese el monto"
						formControlName="amount"
					/>
					<div
						class="form-errors"
						*ngIf="amount.errors && amount.dirty"
					>
						<div *ngIf="amount.hasError('required')">
							Campo requerido
						</div>

						<div *ngIf="amount.hasError('pattern')">
							Ingrese un número válido
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="button">
				<button type="submit">Agregar letra</button>
			</div>
		</div>
	</form>
</div>
