:host {
	display: flex;
	flex-flow: column nowrap;

	.item {
		padding: 16px;
		border-bottom: 1px solid lightgray;
		transition: all 0.3s ease;
		cursor: pointer;

		display: flex;
		flex-flow: row wrap;

		.hour {
			margin-right: 24px;
			color: rgb(154, 160, 166);
		}

		&:hover {
			background-color: #323232;
			color: white;
		}
	}
}
