:host {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	.close-button {
		padding: 10px 16px;
		position: absolute;
		top: 130px;
		left: 200px;
		border: none;
		border-radius: 5px;
		background-color: #323232;
		color: white;
		font-size: 18px;
		z-index: 2;
		cursor: pointer;
	}

	.background {
		position: fixed;
		width: 100vw;
		height: 100vh;
		opacity: 0.5;
		background-color: black;
	}

	app-select-bill-group,
	app-select-cost {
		width: 80vw;
		height: 80vh;
		z-index: 1;
	}
}
