:host {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	.background {
		position: fixed;
		width: 100vw;
		height: 100vh;
		opacity: 0.5;
		background-color: black;
	}

	app-select-bill-group,
	app-select-cost {
		width: 80vw;
		height: 80vh;
		z-index: 1;
	}
}
