:host {
	width: 350px;
	padding: 16px;
	border: 1px solid blue;

	display: flex;
	flex-flow: column nowrap;

	.row {
		margin: 10px 0;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.col {
			p {
				font-size: 18px;
			}
		}
	}

	.button {
		display: flex;
		justify-content: center;

		button {
			padding: 5px 12px;
			font-size: 18px;
			background-color: #5ac1d6;
			color: #ffffff;
			border: none;
			border-radius: 3px;
			cursor: pointer;
		}
	}
}
