:host {
	height: 80vh;
	padding: 16px;
	background-color: #ffffff;
	border-radius: 10px;

	.title {
		margin: 32px 0;

		h1 {
			text-align: center;
			font-size: 24px;
		}
	}

	.bills {
		height: 65vh;

		display: grid;
		row-gap: 32px;
		grid-template-columns: repeat(3, 1fr);
		overflow-y: scroll;

		app-select-bill {
			margin-bottom: 1px;
			justify-self: center;
		}
	}
}
