.container {
	// width: 80vw;
	// border: 1px solid red;

	.title {
		margin-bottom: 16px;

		h1 {
			text-align: center;
			font-size: 24px;
		}
	}

	.bills {
		// border: 1px solid green;

		display: grid;
		gap: 16px;

		grid-template-columns: repeat(3, 1fr);

		app-select-bill {
			justify-self: center;
		}
	}
}
