:host {
	width: 100%;
	height: 80px;
	padding: 0 128px;
	border-bottom: 1px solid lightgray;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	.col {
		font-size: 30px;

		a {
			font-size: 40px;
			font-weight: bold;
			color: #54d691;
			text-decoration: none;
		}

		button {
			padding: 10px 24px;
			background-color: #323232;
			color: #ffffff;
			border: none;
			border-radius: 3px;
			font-size: 24px;
			cursor: pointer;
		}
	}
}

@media (max-width: 600px) {
	.container {
		padding: 0;
		height: 50px;
		justify-content: space-around;

		.col {
			font-size: 20px;

			a {
				font-size: 30px;
			}
		}
	}
}
