<div class="card">
	<div class="card-body">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				Fecha de giro: {{ bill.startDate.toLocaleDateString() }}
			</li>
			<li class="list-group-item">
				Fecha de vencimiento: {{ bill.endDate.toLocaleDateString() }}
			</li>
			<li class="list-group-item">Valor nominal: {{ bill.amount }}</li>
		</ul>
	</div>
	<div class="card-footer">
		<button
			class="btn btn-primary"
			routerLink="/billDetail/{{bill.billId}}"
		>
			Detalles
		</button>
		<button class="btn btn-primary">Pagar</button>
	</div>
</div>
