<div class="container">
	<div class="passed-days">
		<h6 class="title">Días Transcurridos</h6>

		<div class="progress">
			<div class="progress-bar" [ngStyle]="{ width: percentage }"></div>
		</div>
	</div>

	<div class="details">
		<div class="info">
			<div>Fecha de giro: {{ bill.startDate.toLocaleDateString() }}</div>
			<div>
				Fecha de vencimiento:
				{{ bill.endDate.toLocaleDateString() }}
			</div>
			<div>Valor nominal: {{ bill | billAmount }}</div>
			<div>Estado: ??</div>
		</div>

		<div class="options">
			<button routerLink="/billDetail/{{ bill.id }}">
				Detalles
			</button>
			<button>Pagar</button>
		</div>
	</div>
</div>
