:host {
	height: 100%;
	padding: 16px;
	border-left: 1px solid #dfdfdf;

	display: flex;
	flex-flow: column nowrap;

	.options {
		margin-bottom: 8px;

		display: flex;
		flex-flow: row nowrap;

		.option {
			margin: 0 8px;

			button {
				background-color: lightgray;
				color: white;
				padding: 16px 40px;
				font-size: 20px;
				border: none;
				border-radius: 3px;
				transition: all 0.3s ease;
				text-decoration: none;
				cursor: pointer;

				&:hover {
					transform: scale(1.05);
				}
			}

			.selected {
				background-color: #54d691;
			}
		}
	}

	.bills {
		overflow-y: scroll;

		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		app-bill {
			margin: 16px;
			border: 2px solid #dfdfdf;
			border-radius: 4px;

			transition: all 0.3s ease;

			&:hover {
				box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
			}
		}

		app-no-bills-found {
			margin-top: 128px;
		}
	}

	.discounts {
		overflow-y: scroll;

		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		app-discounted-pool-item {
			margin: 16px;
			border: 2px solid #dfdfdf;
			border-radius: 4px;

			transition: all 0.3s ease;

			&:hover {
				box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
			}
		}

		app-no-discount-pools-found {
			margin-top: 128px;
		}
	}
}

@media (max-width: 763px) {
	.container {
		padding: 0;

		.options {
			flex-flow: column nowrap;

			.option {
				margin: 0;

				button {
					border-radius: 0px;
					font-size: 16px;
					width: 100%;
					padding: 12px 16px;
				}
			}
		}
	}
}
