<div class="container">
	<div class="options">
		<div class="option">
			<button
				(click)="changeOption(1)"
				[ngClass]="{ selected: option === 1 }"
			>
				Por pagar
			</button>
		</div>
		<div class="option">
			<button
				(click)="changeOption(2)"
				[ngClass]="{ selected: option === 2 }"
			>
				Por cobrar
			</button>
		</div>
		<div class="option">
			<button
				(click)="changeOption(3)"
				[ngClass]="{ selected: option === 3 }"
			>
				Cartera descontada
			</button>
		</div>
	</div>

	<div class="bills">
		<app-bill *ngFor="let item of bills" [bill]="item"></app-bill>

		<app-no-bills-found *ngIf="bills.length === 0"></app-no-bills-found>
	</div>
</div>
