:host {
	flex: 1;

	display: flex;
	flex-flow: row nowrap;

	.buttons {
		width: 300px;

		.button-group {
			margin-top: 64px;

			display: flex;
			flex-flow: column nowrap;
			align-items: center;

			a {
				margin: 8px 0;
				padding: 16px 40px;
				background-color: #54d691;
				font-size: 20px;
				color: white;
				border-radius: 3px;
				transition: all 0.3s ease;
				text-decoration: none;

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}

	.bill-group {
		// box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
		flex: 1;

		max-height: 900px;
	}
}

@media (max-width: 600px) {
	:host {
		.buttons {
			display: none;
		}
	}
}
