<div class="container">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<h1>Iniciar sesión</h1>
		</div>

		<div class="row">
			<label for="username">RUC</label>
			<input
				type="text"
				placeholder="Ingrese su número RUC"
				formControlName="username"
			/>
		</div>

		<div class="row">
			<label for="password">PASSWORD</label>
			<input
				type="password"
				placeholder="Ingrese su contraseña"
				formControlName="password"
			/>
		</div>

		<div class="row">
			<button type="submit" class="btn btn-primary">Ingresar</button>
		</div>

		<div class="row">
			<small class="form-text"
				>¿No tienes una cuenta?
				<a [routerLink]="['/register']">Regístrate</a></small
			>
		</div>
	</form>
</div>
