.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	form {
		display: flex;
		flex-flow: column wrap;
		width: 400px;

		.row {
			margin: 2rem 0;
			display: flex;
			flex-flow: column wrap;

			label,
			input,
			button {
				font-size: 1.25rem;
			}

			button,
			small,
			h1 {
				align-self: center;
			}

			label {
				margin: 0.5rem 0;
			}

			input {
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				padding: 1rem;
			}

			button {
				padding: 1rem 2rem;
				background-color: #54d691;
				color: #eeeeee;
				border: none;
				border-radius: 7px;
			}

			small {
				font-size: 1rem;
			}
		}
	}
}

// Form validation
.container .row input.ng-dirty {
	&.ng-valid {
		border: 2px solid mediumseagreen;
	}
	&.ng-invalid {
		border: 2px solid tomato;
	}
}
