:host {
	background-color: #ffffff;
	padding: 32px;
	border-radius: 10px;
	// border: 2px solid lightgray;

	.title {
		margin-bottom: 24px;

		h1 {
			text-align: center;
			font-size: 24px;
		}
	}

	.grid {
		display: grid;
		justify-content: center;
		grid-template-columns: 400px 400px 400px;
		grid-template-rows: repeat(2, 350px);
		column-gap: 16px;

		.addInitialCost,
		.initialCostList,
		.bill,
		.addFinalCost,
		.finalCostList {
			padding: 16px;
			border: 1px solid lightgray;
			border-radius: 5px;
		}

		.addInitialCost,
		.addFinalCost {
			display: grid;
			grid-template-rows: repeat(5, 1fr);
			gap: 10px;

			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom: none;

			.row {
				font-size: 18px;

				display: flex;
				justify-content: space-between;
				align-items: center;

				select,
				input {
					font-size: 18px;
					padding: 8px 8px;
					// border-radius: 5px;
					border: none;
					border-bottom: 2px solid lightgray;
				}

				input[type="text"] {
					width: 150px;
				}

				.group {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
				}
			}

			.center {
				display: flex;
				justify-content: center;
				align-items: center;

				h1 {
					font-size: 24px;
				}

				button {
					padding: 8px 20px;
					font-size: 20px;
					background-color: #5ac1d6;
					color: #ffffff;
					border: none;
					border-radius: 5px;
					cursor: pointer;
					transition: all 0.1s ease-in;

					&:hover {
						transform: scale(1.05);
					}
				}
			}

			.end {
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
		}

		.bill {
			grid-column: 2 / span 1;
			grid-row: 1 / span 1;

			display: flex;
			flex-flow: column nowrap;
			font-size: 18px;

			.center,
			.row {
				margin: 8px 0;
			}

			.row.retention {
				font-size: 18px;

				display: flex;
				justify-content: space-between;
				align-items: center;

				input {
					width: 150px;
					font-size: 18px;
					padding: 8px 8px;
					border: none;
					border-bottom: 2px solid lightgray;
					text-align: right;
				}
			}

			.end {
				display: flex;
				justify-content: flex-end;
			}

			.center {
				align-self: center;

				h1 {
					font-size: 24px;
				}

				button {
					padding: 8px 20px;
					font-size: 20px;
					background-color: #5169e2;
					color: #ffffff;
					border: none;
					border-radius: 5px;
					cursor: pointer;
					transition: all 0.1s ease-in;

					&:hover {
						transform: scale(1.05);
					}
				}
			}

			.row {
				display: flex;
				justify-content: space-between;
			}
		}

		.initialCostList,
		.finalCostList {
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-top-width: 3px;
			border-top-style: dashed;

			display: flex;
			flex-flow: column nowrap;

			.items {
				flex: 1;
				overflow-y: auto;

				display: flex;
				flex-flow: column nowrap;
			}

			.total {
				padding: 8px;
				border-top: 1px solid lightgray;

				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
			}
		}

		.addInitialCost {
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
		}

		.initialCostList {
			grid-column: 1 / span 1;
			grid-row: 2 / span 1;
		}

		.addFinalCost {
			grid-column: 3 / span 1;
			grid-row: 1 / span 1;
		}

		.finalCostList {
			grid-column: 3 / span 1;
			grid-row: 2 / span 1;
		}
	}
}

:host .grid {
	.addInitialCost,
	.addFinalCost {
		.row {
			input.ng-dirty,
			select.ng-dirty {
				&.ng-valid {
					border: 2px solid mediumseagreen;
				}
				&.ng-invalid {
					border: 2px solid tomato;
				}
			}
		}
	}
}
