<div class="title">
	<h1>Ingrese los costes</h1>
</div>

<div class="grid">
	<div class="addInitialCost" [formGroup]="initialCostForm">
		<div class="center">
			<h1>Costes iniciales</h1>
		</div>

		<div class="row">
			<p>Motivo</p>
			<select formControlName="initialReason">
				<option *ngFor="let item of initialCostOptions" value="{{ item }}">{{ item }}</option>
			</select>
		</div>

		<div class="end" *ngIf="initialReason.errors && initialReason.dirty">
			<div class="form-errors">
				<div *ngIf="initialReason.hasError('required')">
					Campo requerido
				</div>
			</div>
		</div>

		<div class="row">
			<p>Tipo de valor</p>
			<select formControlName="initialPaymentType" (change)="changeInitialPaymentType()">
				<option value="1">Efectivo</option>
				<option value="2">Porcentaje</option>
			</select>
		</div>

		<div class="row">
			<p>Monto</p>
			<div class="group">
				<input formControlName="initialValue" type="text" placeholder="Ingrese el valor" />
				<p *ngIf="initialPaymentType.value === '2'">
					%
				</p>
			</div>
		</div>

		<div class="end" *ngIf="initialValue.errors && initialValue.dirty">
			<div class="form-errors">
				<div *ngIf="initialValue.hasError('required')">
					Campo requerido
				</div>

				<div *ngIf="initialValue.hasError('pattern')">
					Ingrese un valor válido
				</div>

				<div *ngIf="initialValue.hasError('min')">
					Debe ser mayor a cero
				</div>

				<div *ngIf="initialValue.hasError('max')">
					No debe exceder el 100%
				</div>
			</div>
		</div>

		<div class="center">
			<button (click)="addInitialCost()">Agregar</button>
		</div>
	</div>

	<div class="initialCostList">
		<div class="items">
			<app-cost-item *ngFor="let item of initialCosts" [cost]="item"></app-cost-item>
		</div>

		<div class="total">
			<p>Total inicial</p>
			<p>{{ initialTotal | currencyType: bill.currencyCode }}</p>
		</div>

		<div class="end form-errors" *ngIf="bill.amount < initialTotal">
			Los costos iniciales no deben superar al valor nominal
		</div>

	</div>

	<div class="bill">
		<h1 class="center">
			<h1>
				Letra de cambio
			</h1>
		</h1>

		<div class="row">
			<p>Fecha de giro</p>
			<p>{{ bill.startDate | date: "dd/MM/yyyy" }}</p>
		</div>

		<div class="row">
			<p>Fecha de vencimiento</p>
			<p>{{ bill.endDate | date: "dd/MM/yyyy" }}</p>
		</div>

		<div class="row">
			<p>Valor nominal</p>
			<p>{{ bill | billAmount }}</p>
		</div>

		<form class="row retention" [formGroup]="retentionForm">
			<p>Retención</p>
			<input type="text" formControlName="retention" />
		</form>

		<div class="end form-errors" *ngIf="retention.errors && retention.dirty || !validateRetention() ">
			<div *ngIf="retention.hasError('required')">
				Campo requerido
			</div>

			<div *ngIf="retention.hasError('pattern')">
				Ingrese un número valido
			</div>
			<div *ngIf="!validateRetention() && !retention.hasError('required')">
				La retención debe ser menor que el valor nominal
			</div>
		</div>

		<div class="center">
			<button (click)="addBill()">Agregar letra</button>
			<div class="end form-errors" *ngIf="!validate()">
				Rentencion + Costos Iniciales debe ser menor que el valor nominal
			</div>
		</div>
	</div>

	<div class="addFinalCost" [formGroup]="finalCostForm">
		<div class="center">
			<h1>Costes finales</h1>
		</div>

		<div class="row">
			<p>Motivo</p>
			<select formControlName="finalReason">
				<option *ngFor="let item of finalCostOptions" value="{{ item }}">{{ item }}</option>
			</select>
		</div>

		<div class="end" *ngIf="finalReason.errors && finalReason.dirty">
			<div class="form-errors">
				<div *ngIf="finalReason.hasError('required')">
					Campo requerido
				</div>
			</div>
		</div>

		<div class="row">
			<p>Tipo de valor</p>
			<select formControlName="finalPaymentType" (change)="changeFinalPaymentType()">
				<option value="1">Efectivo</option>
				<option value="2">Porcentaje</option>
			</select>
		</div>

		<div class="row">
			<p>Monto</p>
			<div class="group">
				<input formControlName="finalValue" type="text" placeholder="Ingrese el valor" />
				<p *ngIf="finalPaymentType.value === '2'">
					%
				</p>
			</div>
		</div>

		<div class="end" *ngIf="finalValue.errors && finalValue.dirty">
			<div class="form-errors">
				<div *ngIf="finalValue.hasError('required')">
					Campo requerido
				</div>

				<div *ngIf="finalValue.hasError('pattern')">
					Ingrese un valor válido
				</div>

				<div *ngIf="finalValue.hasError('min')">
					Debe ser mayor a cero
				</div>

				<div *ngIf="finalValue.hasError('max')">
					No debe exceder el 100%
				</div>
			</div>
		</div>

		<div class="center">
			<button (click)="addFinalCost()">Agregar</button>
		</div>
	</div>

	<div class="finalCostList">
		<div class="items">
			<app-cost-item *ngFor="let item of finalCosts" [cost]="item"></app-cost-item>
		</div>

		<div class="total">
			<div class="col">
				<p>Total final</p>
			</div>
			<div class="col">
				<p>{{ finalTotal | currencyType: bill.currencyCode }}</p>
			</div>
		</div>
	</div>
</div>
