<div class="title">
	<h1>Ingrese los costes</h1>
</div>

<div class="grid">
	<div class="addInitialCost" [formGroup]="initialCostForm">
		<div class="center">
			<h1>Costes iniciales</h1>
		</div>

		<div class="row">
			<p>Motivo</p>
			<select formControlName="initialReason">
				<option value="Portes iniciales">Portes iniciales</option>
				<option value="Fotocopias">Fotocopias</option>
			</select>
		</div>

		<div class="row">
			<p>Tipo de valor</p>
			<select formControlName="initialPaymentType">
				<option value="1">Efectivo</option>
				<option value="2">Porcentaje</option>
			</select>
		</div>

		<div class="row">
			<p>Monto</p>
			<input
				formControlName="initialValue"
				type="text"
				placeholder="Ingrese el valor"
			/>
		</div>

		<div class="row">
			<div
				class="form-errors"
				*ngIf="initialValue.errors && initialValue.dirty"
			>
				<div *ngIf="initialValue.hasError('required')">
					Campo requerido
				</div>
				<div *ngIf="initialValue.hasError('pattern')">
					Deben ser sólo dígitos
				</div>
			</div>
		</div>

		<div class="center">
			<button (click)="addInitialCost()">Agregar</button>
		</div>
	</div>

	<div class="initialCostList">
		<div class="items">
			<div class="row" *ngFor="let item of initialCosts">
				<div class="col">
					<p>
						{{ item.reason }}
					</p>
				</div>

				<div class="col">
					<p>
						{{ item.amount * bill.amount }}
					</p>
				</div>
			</div>
		</div>

		<div class="total">
			<div class="col">
				<p>Total inicial</p>
			</div>
			<div class="col">
				<p>{{ initialTotal }}</p>
			</div>
		</div>
	</div>

	<div class="bill">
		<div class="center">
			<h1>
				Letra de cambio
			</h1>
		</div>

		<div class="row">
			<div class="col">
				<p>Fecha de giro</p>
			</div>
			<div class="col">
				<p>{{ bill.startDate | date: "dd/MM/yyyy" }}</p>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<p>Fecha de vencimiento</p>
			</div>
			<div class="col">
				<p>{{ bill.endDate | date: "dd/MM/yyyy" }}</p>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<p>Valor nominal</p>
			</div>
			<div class="col">
				<p>{{ bill.amount }}</p>
			</div>
		</div>

		<div class="center">
			<button (click)="addBill()">Agregar letra</button>
		</div>
	</div>

	<div class="addFinalCost" [formGroup]="finalCostForm">
		<div class="center">
			<h1>Costes finales</h1>
		</div>

		<div class="row">
			<p>Motivo</p>
			<select formControlName="finalReason">
				<option value="Portes finales">Portes finales</option>
				<option value="Fotocopias">Fotocopias</option>
			</select>
		</div>

		<div class="row">
			<p>Tipo de valor</p>
			<select formControlName="finalPaymentType">
				<option value="1">Efectivo</option>
				<option value="2">Porcentaje</option>
			</select>
		</div>

		<div class="row">
			<p>Monto</p>
			<input
				formControlName="finalValue"
				type="text"
				placeholder="Ingrese el valor"
			/>
		</div>

		<div class="row">
			<div
				class="form-errors"
				*ngIf="finalValue.errors && finalValue.dirty"
			>
				<div *ngIf="finalValue.hasError('required')">
					Campo requerido
				</div>
				<div *ngIf="finalValue.hasError('pattern')">
					Deben ser sólo dígitos
				</div>
			</div>
		</div>

		<div class="center">
			<button (click)="addFinalCost()">Agregar</button>
		</div>
	</div>

	<div class="finalCostList">
		<div class="items">
			<div class="row" *ngFor="let item of finalCosts">
				<div class="col">
					<p>
						{{ item.reason }}
					</p>
				</div>

				<div class="col">
					<p>
						{{ item.amount * bill.amount }}
					</p>
				</div>
			</div>
		</div>

		<div class="total">
			<div class="col">
				<p>Total final</p>
			</div>
			<div class="col">
				<p>{{ finalTotal }}</p>
			</div>
		</div>
	</div>
</div>
