<div class="center">
	<h1>Resumen de la cartera</h1>
</div>

<div class="row">
	<div class="col">
		<p>Valor recibido</p>
	</div>
	<div class="col">
		<p>
			{{
				discountPool.receivedValue
					| currencyType: discountPool.currencyCode
			}}
		</p>
		<!-- <p>13215</p> -->
	</div>
</div>

<div class="row">
	<div class="col">
		<p>Valor entregado</p>
	</div>
	<div class="col">
		<p>
			{{
				discountPool.deliveredValue
					| currencyType: discountPool.currencyCode
			}}
		</p>
		<!-- <p>8946415</p> -->
	</div>
</div>

<div class="row">
	<div class="col">
		<p>TCEA</p>
	</div>
	<div class="col">
		<p>{{ discountPool.tcea | percent: "1.1-7" }}</p>
		<!-- <p>897565</p> -->
	</div>
</div>

<div class="center">
	<button (click)="onSubmit()">Descontar letra</button>
	<div
		class="form-errors"
		*ngIf="_discountsList.discountsValue.length == 0 && submitted"
	>
		<div>
			Debes agregar al menos una letra para descontar
		</div>
	</div>
</div>
