<div class="container">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" (click)="changeBillType(1)">Por pagar</a>
		</li>
		<li class="nav-item" (click)="changeBillType(2)">
			<a class="nav-link">Por cobrar</a>
		</li>
	</ul>

	<form [formGroup]="billForm" (ngSubmit)="onSubmit()">
		<div class="form-row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="drawerId">Librador</label>
					<input
						type="text"
						class="form-control"
						placeholder="Ruc del
					librador"
						formControlName="drawerRuc"
						[readOnly]="billType !== 1"
					/>
				</div>

				<div class="form-group">
					<label for="drawerId">Librado</label>
					<input
						type="text"
						class="form-control"
						placeholder="Ruc del
						librado"
						formControlName="draweeRuc"
						[readOnly]="billType === 1"
					/>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label for="startDate">Fecha de giro</label>
					<input
						type="date"
						class="form-control"
						placeholder="Fecha de giro"
						formControlName="startDate"
					/>
				</div>

				<div class="form-group">
					<label for="endDate">Fecha de vencimiento</label>
					<input
						type="date"
						class="form-control"
						placeholder="Fecha de vencimiento"
						formControlName="endDate"
					/>
				</div>

				<div class="form-group">
					<label for="currency">Moneda</label>
					<select class="form-control" formControlName="currency">
						<option selected>SOLES</option>
						<option>DOLARES</option>
					</select>
				</div>

				<div class="form-group">
					<label for="amount">Valor nominal</label>
					<input
						type="number"
						class="form-control"
						placeholder="Ingrese el monto"
						formControlName="amount"
					/>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Agregar letra</button>
	</form>
</div>
