<div class="container">
	<div class="title">
		<h1>Ingrese los costes</h1>
	</div>

	<div class="grid">
		<div class="addInitialCost">
			<div class="center">
				<h1>Costes iniciales</h1>
			</div>

			<div class="row">
				<p>Motivo</p>
				<select [(ngModel)]="initialReason">
					<option value="PORTES_INICIALES">Portes iniciales</option>
					<option value="FOTOCOPIAS">Fotocopias</option>
				</select>
			</div>

			<div class="row">
				<p>Tipo de valor</p>
				<select [(ngModel)]="initialValueType">
					<option value="EFECTIVO">Efectivo</option>
					<option value="PORCENTAJE">Porcentaje</option>
				</select>
			</div>

			<div class="row">
				<p>Monto</p>
				<input
					[(ngModel)]="initialValue"
					type="text"
					placeholder="Ingrese el valor"
				/>
			</div>

			<div class="center">
				<button (click)="addInitialCost()">Agregar</button>
			</div>
		</div>

		<div class="initialCostList">
			<div class="items">
				<div class="row" *ngFor="let item of initialCosts">
					<div class="col">
						<p>
							{{ item.reason }}
						</p>
					</div>

					<div class="col">
						<p>
							{{ item.value }}
						</p>
					</div>
				</div>
			</div>

			<div class="total">
				<div class="col">
					<p>Total inicial</p>
				</div>
				<div class="col">
					<p>{{ initialTotal }}</p>
				</div>
			</div>
		</div>

		<div class="bill">
			<h1>Bill</h1>
		</div>

		<div class="addFinalCost">
			<div class="center">
				<h1>Costes finales</h1>
			</div>

			<div class="row">
				<p>Motivo</p>
				<select [(ngModel)]="finalReason">
					<option value="PORTES_INICIALES">Portes iniciales</option>
					<option value="FOTOCOPIAS">Fotocopias</option>
				</select>
			</div>

			<div class="row">
				<p>Tipo de valor</p>
				<select [(ngModel)]="finalValueType">
					<option value="EFECTIVO">Efectivo</option>
					<option value="PORCENTAJE">Porcentaje</option>
				</select>
			</div>

			<div class="row">
				<p>Monto</p>
				<input
					[(ngModel)]="finalValue"
					type="text"
					placeholder="Ingrese el valor"
				/>
			</div>

			<div class="center">
				<button (click)="addFinalCost()">Agregar</button>
			</div>
		</div>

		<div class="finalCostList">
			<div class="items">
				<div class="row" *ngFor="let item of finalCosts">
					<div class="col">
						<p>
							{{ item.reason }}
						</p>
					</div>

					<div class="col">
						<p>
							{{ item.value }}
						</p>
					</div>
				</div>
			</div>

			<div class="total">
				<div class="col">
					<p>Total final</p>
				</div>
				<div class="col">
					<p>{{ finalTotal }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
